
/* ===========================================================

Projeto: Site para empresa de Catering Fraternité Crêpe
Arquivo: about.css
Autor: Thiago Bortolan de Oliveira
Data Criação: 27/11/2025

=========================================================== */


/* ===========================================================
ESTILOS GERAIS
=========================================================== */
body {
color: #000;
}

/* ===========================================================
CORPO / TÍTULOS / CONTEÚDO HISTÓRICO - LAYOUT
=========================================================== */
.titulo1 {
text-align: center;
font-size: 3rem;
margin-top: 3rem;
font-family: "Garamond", serif;
font-style: oblique;
}

.titulo2 {
text-align: center;
font-size: 2.5rem;
margin-bottom: 3rem;
color: #333;
font-family: "Garamond", serif;
font-style: oblique;
}

/* LAYOUT EM COLUNAS */
.conteudoHistorico {
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 4rem;
}

.textoContainer {
width: 100%;
max-width: 1200px;
column-count: 2;
column-gap: 1rem;
margin: 0 auto;
padding: 0;
font-family: "Garamond", serif;
background-color: rgb(255, 255, 255);
border-radius: 15px;
border-left: 1px solid rgb(130, 130, 130);
border-right: 1px solid rgb(130, 130, 130);
border-bottom: 1px solid rgb(130, 130, 130);
}

.textoHistorico li {
list-style: none;
padding: 1rem;
break-inside: avoid;
font-size: 1.3rem;
}

/* TÍTULOS INTERNOS */
.textoHistorico h3 {
color: #a82e2e;
margin-bottom: 1rem;
font-size: 1.6rem;
}

/* IMAGENS ALTERNADAS */
.textoHistorico li:nth-child(odd) img {
float: right;
margin-left: 1.5rem;
}

.textoHistorico li:nth-child(even) img {
float: left;
margin-right: 1.5rem;
}

.textoHistorico img {
display: flex;
width: 100%;
max-width: 180px;
border-radius: 40px;
box-shadow: 0 4px 10px rgba(0,0,0,0.6);
}


/* ===========================================================
RESPONSIVIDADE
=========================================================== */

/* ======== TABLET / LAPTOP ======== */
@media (min-width: 822px) and 
  (max-width: 991px) {

  .textoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
  }

  .textoHistorico h3 {
    margin-top: 1.5rem;
  }

  .textoHistorico p {
    margin-top: 1rem;
  }

  .textoHistorico img {
    width: 100%;
    max-width: 250px;
  }
}

/* ======== TABLET ======== */
@media (min-width: 750px) and
  (max-width: 821px) {

  .textoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 15px;
    width: 100%;
  }

  .textoHistorico h3 {
    margin-top: 1.5rem;
  }

  .textoHistorico p {
    margin-top: 1rem;
  }

  .textoHistorico img {
    width: 100%;
    max-width: 230px;
  }
}

/* ======== TABLET PEQUENO / MOBILE GRANDE ======== */
@media (min-width: 501px) and
  (max-width: 749px) {

  .titulo1 {
    font-size: 2.5rem;
  }

  .titulo2 {
    font-size: 2rem;
  }

  .textoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 15px;
    width: 100%;
  }

  .textoHistorico li {
    padding: 1rem;
  }

  .textoHistorico img {
    width: 100%;
    max-width: 210px;
  }
}

/* ======== MOBILE PEQUENO ======== */
@media screen and (max-width: 500px) {

  .titulo1 {
    font-size: 2.2rem;
  }

  .titulo2 {
    font-size: 1.5rem;
  }

  .textoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-right: 2rem;
    gap: 15px;
    width: 100%;
  }

  .textoHistorico li {
    text-align: center;
  }

  .textoHistorico h3 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }

  .textoHistorico p {
    font-size: 1.3rem;
    margin-top: 1rem;
  }

  .textoHistorico img {
    width: 100%;
    max-width: 290px;
    margin-bottom: 1rem;
  }

  .textoHistorico li:nth-child(odd) img,
  .textoHistorico li:nth-child(even) img {
    float: none;
    margin: 0 auto;
  }
}

/* ======== MOBILE MUITO PEQUENO ======== */
@media screen and (max-width: 430px) {

  .textoHistorico h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  .textoHistorico p {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .textoHistorico img {
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
  }

  .textoHistorico li:nth-child(odd) img,
  .textoHistorico li:nth-child(even) img {
    float: none;
    margin: 0 auto;
  }
}