
/* ===========================================================

Projeto: Site para empresa de Catering Fraternité Crêpe
Nome do Arquivo: cardapioPage.css
Autor: Thiago Bortolan de Oliveira

=========================================================== */

html, body {
    color: #000;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}


/* ===========================================================
MENU SECTION
=========================================================== */
.menu-section {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    will-change: transform, opacity;
    animation-duration: 1s;
}


/* container interno */
.menu-container {
    margin: 0 auto;
}


/* ===========================================================
TÍTULO PRINCIPAL / DESCRIÇÃO DO CARDÁPIO
=========================================================== */
h1 {
    font-size: 2rem;
    font-weight: 530;
    letter-spacing: 1px;
    margin-top: 2rem;
    margin-bottom: 5px;
    text-align: left;
}

.menu-description {
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.menu-blocoTexto {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
}

.menu-blocoTexto p {
    justify-content: flex-start;
    width: 60%;
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.7;
    color: #2c2c2c;
}

.container-fluid-cadapios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.menu-blocoTexto img {
    display: block;
    object-fit: cover;
    width: 100%;
    max-width: 320px;
    border-radius: 5px;
    box-shadow: 1px 2px 20px rgb(0, 0, 0);
}


/* ===========================================================
GRID DOS CARDÁPIOS
========================================================== */
.menu-cards {
    display: flex;
    flex-direction: row;
    max-width: 1520px;
    padding: 5rem;
    gap: 5rem;
    will-change: transform, opacity;
    animation: bounceInLeft 650ms ease-in;
}


/* ===========================================================
CARD INDIVIDUAL
=========================================================== */
.menu-card {
    text-align: center;
    max-width: 520px;
    max-height: 1720px;
}

/* imagem */
.menu-card img {
    width: 100%;
    max-width: 520px;
    border-radius: 5px;
    border: 1px solid rgba(198,198,198,0.68);
    box-shadow: 0 8px 25px rgba(0,0,0,0.18);
    transition: transform .3s ease, box-shadow .2s ease, border .2s ease;
}

/* hover imagem */
.menu-card:hover img {
    transform: scale(1.0);
    border: 1px solid rgba(9, 9, 9, 0.345);
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.481);
}

/* título */
.menu-card h2 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(136,2,2);
    margin-bottom: 30px;
    transition: color .2s ease;
}

/* hover título */
.menu-card:hover h2 {
    color: rgb(255,24,24);
}