
/* ===========================================================

Projeto: Site para empresa de Catering Fraternité Crêpe
Nome do Arquivo: indexResposivo.css
Autor: Thiago Bortolan de Oliveira
Data Criação: 04/02/2026

=========================================================== */


/* ===========================================================
RESPONSIVIDADE
=========================================================== */


/* ======== DESKTOP ======== */
@media (min-width: 1200px) {

    .service-text {
        column-count: 2;
        column-gap: 2rem;
    }
}


/* ======== DESKTOP / LAPTOP ======== */
@media (min-width: 992px) and 
       (max-width: 1199px) {

    .service-text {
        column-count: 2;
        column-gap: 3rem;
    }

    .service-section {
        padding: 0;
    }
}


/* ======== TABLET / LAPTOP ======== */
@media (min-width: 822px) and 
       (max-width: 991px) {

    .service-section {
        padding: 0;
    }

    .service-text {
        column-count: 2;
        column-gap: 2rem;
        padding: 0 0.25rem;
    }

    .service-image {
        margin: 1rem;
    }
}


/* ======== TABLET ======== */
@media (min-width: 767px) and 
       (max-width: 821px) {

    .service-section {
        padding: 1rem;
    }

    .service-text {
        padding: 0 0.25rem;
    }

    .service-image {
        margin: 1.5rem;
    }

    .service-title {
        text-align: center !important;
        letter-spacing: 2px;
        font-size: 0.95rem;
    }

    .service-description p {
        text-align: center;
        font-size: 1.3rem !important;
        padding: 0 1rem;
    }

}


/* ======== TABLET PEQUENO / MOBILE GRANDE ======== */
@media (min-width: 501px) and 
       (max-width: 768px) {

    .service-section {
        padding: 0.5rem;
    }

    .home-sections {
        gap: 1rem;
        padding: 0rem;
    }

    .home-card img { 
        max-width: 100%; 
    }

    .container-area {
        flex-direction: column;
        margin: 0;
        padding: 0rem;
        font-size: 1rem;
    }

    .map-container iframe {width: 30%; height: auto;}

    .service-image {
        margin: 0 0 1rem 0;
    }

    .text-center {
        letter-spacing: 1px;
        font-size: 1.95rem;
    }

    .service-title {
        text-align: center !important;
        letter-spacing: 2px;
        font-size: 0.95rem;
    }

    .service-description p {
        text-align: left;
        font-size: 1.3rem !important;
        padding: 0 1rem;
    }

    .contact-section h6 {
        font-size: 18px;
    }

    .contact-section p {
        font-size: 17px;
        line-height: 4px;
    }
}


/* ======== MOBILE PEQUENO ======== */
@media screen and (max-width: 500px) {

    .service-section {
        padding: 0.5rem;
    }
    .home-sections { gap: 1rem; }

    .home-card img {width: 60% !important;}

    h3 {font-size: 1.6rem !important;}

    .service-image {
        margin: 1rem 0 2rem 0;
        max-width: 100px;
    }

    .service-description p {
        text-align: left;
        font-size: 1.3rem !important;
        padding: 0 1rem;
    }

    .service-title {
        text-align: center !important;
        letter-spacing: 2px;
        font-size: 0.95rem;
    }

    .contact-section h6 {
        font-size: 16px;
    }

    .contact-section p {
        font-size: 15px;
        line-height: 4px;
    }
}


/* ======== MOBILE MUITO PEQUENO ======== */
@media screen and (max-width: 358px) {

    .service-section {
        padding: 0 !important;
    }

    .service-image {
        float: none;
        display: block;
        margin: 0 auto 0.5rem auto;
        width: 100%;
        max-width: 90px;
    }

    .service-image-wrapper {
        text-align: center;
    }

    .service-description p {
        font-size: 1rem;
        text-align: center;
    }

    .service-title {
        text-align: center !important;
        letter-spacing: 1px;
        font-weight: 500;
    }
}