
/* ===========================================================

Projeto: Site para empresa de Catering Fraternité Crêpe
Nome do Arquivo: indexMedia.css
Autor: Thiago Bortolan de Oliveira
Data Criação: 04/12/2025

=========================================================== */


/* ===========================================================
SLIDE DE FOTOS
=========================================================== */
.media-section {
margin-top: 1rem;
box-sizing: border-box;
}

.media-slider, .instagram-section {
width: 100%;
}

.media-slide-image {
width: 580px;
height: 210px;
object-fit: cover;
object-position: center;
border-radius: 5px;
box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}


/* ===========================================================
INSTAGRAM
=========================================================== */
.instagram-section {
display: flex;
flex-wrap: nowrap;
justify-content: center;
gap: 1rem;
}

.instagram-embed {
overflow: hidden;
width: 100% !important;
height: 50% !important;
max-width: 270px !important;
min-height: 580px !important;
margin: 0 !important;
}

.instagram-media {
width: 100% !important;
max-width: 380px !important;
min-width: 0 !important;
}

/* ===========================================================
ICON CREPE
=========================================================== */

.crepe-gallery {
display: flex;
justify-content: center;
align-items: center;
gap: 3rem;
}

.crepe-image {
width: calc(50% - 1.5rem) !important;
height: auto;
max-width: 180px;
margin: 0;
border-radius: 50px;
}

.crepe-image-secondary {
width: calc(50% - 1.5rem) !important;
height: auto;
max-width: 180px;
margin: 0;
border-radius: 50px;
}


/* ===========================================================
MAPA
=========================================================== */
.map-container iframe {
border: 0;
}


/* ===========================================================
RESPONSIVIDADE
=========================================================== */


/* ======== TABLET / LAPTOP ======== */
@media (min-width: 822px) and 
       (max-width: 991px) {

    .instagram-section {
        justify-content: center;
        gap: 5px;
    }

    .instagram-embed {
        width: 50%;
        max-width: 200px;
    }

    .crepe-gallery {
        justify-content: center;
    }

    .media-slide-image {
        max-width: 480px !important;
    }
}


/* ======== TABLET ======== */
@media (min-width: 769px) and 
       (max-width: 821px) {
    
    .crepe-gallery {
        display: none;
    }

    .instagram-section {
        justify-content: center;
        gap: 1rem;
    }

    .instagram-embed {
        width: 100%;
        max-width: 250px;
    }
}


/* ======== TABLET PEQUENO / MOBILE GRANDE ======== */
@media (min-width: 501px) and 
       (max-width: 768px) {

    .instagram-section {
        justify-content: center;
        gap: 1rem;
    }

    .instagram-embed {
        width: 100%;
        max-width: 220px;
    }

    .crepe-gallery {
        display: none;
    }

    .media-slide-image {
        max-height: 120px !important;
    }
}


/* ======== MOBILE PEQUENO ======== */
@media screen and (max-width: 500px) {

    .crepe-gallery {
        display: none !important;
    }

    .instagram-section {
        float: none;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .instagram-embed {
        width: 100%;
        max-width: 200px;
    }

    .media-slide-image {
        max-height: 120px !important;
    }
}