
/* ===========================================================

Projeto: Site para empresa de Catering Fraternité Crêpe
Nome do Arquivo: mainMenu.css
Autor: Thiago Bortolan de Oliveira
Data Criação: 30/11/2025

=========================================================== */

/* ===========================================================
RESET / BASE GLOBAL
=========================================================== */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  color: #000000;
  font-family: 'Nunito', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
  min-height: 100svh;
  min-height: 100dvh;
  overflow-x: hidden;

  background: linear-gradient(
    180deg,
    #ffffff,
    #ffffff,
    #fabcbc
  );
  background-attachment: fixed;
}

main {
  flex-grow: 1;
}

/* ===========================================================
LAYOUT BASE
=========================================================== */

.navbar > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-collapse {
  justify-content: flex-end;
}

/* ===========================================================
HEADER / MENU
=========================================================== */
header .navbar {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #3f0000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  font-family: 'Nunito', sans-serif;
}

.navbar-brand {
  margin-left: 0;
  padding: 5px;
}

.navbar-brand img {
  width: 100%;
  max-width: 165px;
  border: 1px solid rgba(98,98,98,.675);
  border-radius: 10px;
  box-shadow: 1px 10px 30px #000000;

  filter:
  invert(15%)
  sepia(30%)
  saturate(80%)
  hue-rotate(0deg)
  brightness(110%)
  contrast(200%);
}

/* Links */
.navbar-nav {
  display: flex;
  gap: 2.5rem;
  margin: 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff !important;
  font-weight: 500;
  font-size: 15px;
}

#menuNav .nav-item {
  text-align: center !important;
}

.navbar-toggler {
  position: static;
  border: none;
}


/* ===========================================================
RODAPÉ
=========================================================== */
.footer {
  box-sizing: border-box;
  flex-shrink: 0;
  background-color: #010729;
  color: #f5eeee;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 1rem;
}

.footer-row {
  display: flex;
  align-items: center;
  margin-right: 4rem;
}

/* redes sociais */
.social-links {
  display: flex;
  gap: 15px;
  margin-top: 1.6rem;
}

.social-links img {
  max-width: 30px;
}

/* bloco central */
.footer-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

/* texto */
.footer-text {
  font-size: 10px;
}

/* pagamentos */
.payment-methods {
  display: flex;
  gap: 15px;
}

.payment-methods img {
  max-width: 25px;
}

.payment-visa { width: 35px; }
.payment-mastercard { width: 40px; }


/* ===========================================================
BOTÃO WHATSAPP FIXO
=========================================================== */
.whatsapp-float {
  width: clamp(50px, 6vw, 75px);
  height: clamp(50px, 6vw, 75px);
  position: fixed;
  bottom: 20px;
  right: 1.5rem;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(29,233,77,.3);
}

.whatsapp-float img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}


/* HOVER */
@media (hover: hover) and (pointer: fine) {

  .navbar-dark .navbar-nav .nav-link:hover {
    color: #fa4032 !important;
  }

  .whatsapp-float:hover {
    background-color: #87f78b;
    transition: 400ms;
    padding: 5px;
  }
}

/* ===========================================================
RESPONSIVIDADE
=========================================================== */

/* === Desktop grande === */
@media (min-width: 1200px) {}


/* === Desktop / Laptop === */
@media (min-width: 992px) and 
  (max-width: 1199px) {

  .navbar-brand { margin: 0 1.5rem; }

  .navbar-collapse {
    flex-grow: 0;
  }
}


/* === Tablet / Laptop === */
@media (hover: hover) and (pointer: fine) 
  and (min-width: 822px) and (max-width: 991px) {

  .navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff !important;
  }

  #menuNav .nav-item:hover {
    width: 80%;
    background-color: #bebebe6c;
  }
}

@media (min-width: 822px) and 
  (max-width: 991px) {

  .navbar > .container {
    position: relative;
    justify-content: center;
    padding: 0.2rem;
  }

  .navbar-brand { 
    display: flex;
    justify-content: center;
    z-index: 0;
    margin: 0 auto;
  }

  .navbar-toggler {
    position: absolute;
    right: 1rem;
    z-index: 0;
    border: none;
  }

  #menuNav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100dvh;
    width: 90%;
    max-width: 255px;
    background: #000000e2;
    padding-top: 5.9rem;
    padding-bottom: 1rem;
    transform: translateX(100%);
    transition: transform .25s ease;
    z-index: 1050;
    box-shadow: -10px 0 20px rgba(0,0,0,.35);
    overflow-y: auto;
  }

  #menuNav.show { transform: translateX(0); }

  #menuNav .navbar-nav {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  #menuNav .nav-item {
    width: 70%;
    max-width: 380px;
    border-bottom: 1px solid rgba(255,255,255,.414);
  }

  #menuNav .nav-link {
    font-size: 1rem;
    padding: 1rem 0;
  }
}


/* === Tablet / Mobile grande === */
@media (hover: hover) and (pointer: fine) 
  and (min-width: 501px) and (max-width: 821px) {

  .navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff !important;
  }

  #menuNav .nav-item:hover {
    width: 80%;
    background-color: #bebebe6c;
  }
}

@media (min-width: 501px) and 
  (max-width: 821px) {

  .navbar > .container {
    position: relative;
    justify-content: center;
    padding: 0.2rem;
  }

  .navbar-brand { 
    display: flex;
    justify-content: center;
    z-index: 0;
    margin: 0 !important; 
  }

  .navbar-toggler {
    position: absolute;
    right: 1rem;
    z-index: 0;
    border: none;
  }

  #menuNav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100dvh;
    width: 90%;
    max-width: 255px;
    background: #000000e2;
    padding-top: 5.9rem;
    padding-bottom: 1rem;
    transform: translateX(100%);
    transition: transform .25s ease;
    z-index: 1050;
    box-shadow: -10px 0 20px rgba(0,0,0,.35);
    overflow-y: auto;
  }

  #menuNav.show { transform: translateX(0); }

  #menuNav .navbar-nav {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  #menuNav .nav-item {
    width: 70%;
    max-width: 380px;
    border-bottom: 1px solid rgba(255,255,255,.414);
  }

  #menuNav .nav-link {
    font-size: 1rem;
    padding: 1rem 0;
  }

  .navbar-brand { margin: 0 auto; }

  .social-links {
    gap: 10px;
  }

  .payment-methods {
    gap: 10px;
  }

  .social-links img {
    width: 25px;
  }

  .payment-methods img {
    width: 25px;
  }
}


/* === Mobile === */
@media (hover: hover) and (pointer: fine) 
  and (max-width: 500px) {

  .navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff !important;
  }

  #menuNav .nav-item:hover {
    width: 80%;
    background-color: #bebebe6c;
  }
}

@media (max-width: 500px) {

  .navbar > .container {
    position: relative;
    justify-content: center;
    padding: 0.2rem;
  }

  .navbar-brand { 
    display: flex;
    justify-content: center;
    z-index: 0;
    margin: 0 !important; 
  }

  .navbar-toggler {
    position: absolute;
    right: 1rem;
    z-index: 0;
    border: none;
  }

  #menuNav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 80%;
    max-width: 180px;
    background: #000000e2;
    padding-top: 5.9rem;
    padding-bottom: 1rem;
    transform: translateX(-100%);
    transition: transform .25s ease;
    z-index: 1050;
    box-shadow: -10px 0 20px rgba(0,0,0,.35);
    overflow-y: auto;
  }

  #menuNav.show { transform: translateX(0); }

  #menuNav .navbar-nav {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  #menuNav .nav-item {
    width: 70%;
    max-width: 380px;
    border-bottom: 1px solid rgba(255,255,255,.414);
  }

  #menuNav .nav-link {
    font-size: 1rem;
    padding: 1rem 0;
  }

  .footer-row {
    margin-right: 2rem;
  }

  .social-links {
    gap: 8px;
  }

  .payment-methods {
    gap: 8px;
  }

  .social-links img {
    width: 25px;
  }

  .payment-methods img {
    width: 20px;
  }

  .whatsapp-float {
    right: 0.9rem;
  }
}


/* === Mobile muito pequeno === */
@media (hover: hover) and (pointer: fine) 
  and (max-width: 380px) {

  #menuNav .nav-item:hover {
    width: 95%;
  }
}

@media (max-width: 380px) {

  #menuNav {
    width: 50%;
    max-width: 180px;
    padding-top: 6rem;
  }

  #menuNav .navbar-nav { gap: 0.6rem; }

  #menuNav .nav-item { width: 80%; }

  #menuNav .nav-link { font-size: 1rem; }

  .navbar-toggler { right: 5px; }

  .footer-row {
    margin-right: 1rem;
  }

  .social-links {
    gap: 8px;
  }

  .payment-methods {
    gap: 8px;
  }

  .social-links img {
    width: 25px;
  }

  .payment-methods img {
    width: 20px;
  }

  .whatsapp-float {
    right: 0.7rem;
  }
}